In [46]:
import csv
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from datetime import datetime

with open('ks-projects-201612.csv', 'r') as file:
  reader = csv.reader(file)
  data_set = list(reader)
data_set = np.array(data_set)

In [47]:
#utils
def isfloat(value):
  try:
    float(value)
    return True
  except ValueError:
    return False

In [48]:
header = data_set[0]
data_set = data_set[1:len(data_set)] #data set without the header

In [49]:
def clean_data_set(data_set):
    delete_lines =[]
    for i in range (len(data_set)):
        if isfloat(data_set[i,6])==False or data_set[i,9] not in ['failed','successful'] :
            delete_lines.append(i)
    data_set = np.delete(data_set, (delete_lines), axis=0)
    return data_set

data_set = clean_data_set(data_set)

In [50]:
data_set_size = len(data_set)
data_set_size

281302

In [51]:
train_data_set_size = 100000
test_data_set_size = 50000
train_data_set = data_set[0:train_data_set_size]
test_data_set = data_set[train_data_set_size + 1 : train_data_set_size + test_data_set_size]

In [52]:
print(header[3])
print(header[2])

main_category
category

In [53]:
data_set_output = data_set[:,9]
data_set_output

array(['failed', 'failed', 'failed', ..., 'failed', 'failed', 'failed'],
      dtype='|S96')

In [54]:
list_of_output =[]
for j in range (len(data_set_output)):
    if data_set_output[j] not in list_of_output:
        list_of_output.append(data_set_output[j])

list_of_output

['failed', 'successful']

In [55]:
data_set_category = data_set[:,2]
data_set_category

array(['Poetry', 'Narrative Film', 'Music', ..., 'Narrative Film',
       'Technology', 'Performance Art'], dtype='|S96')

In [56]:
list_of_categorie =[]
for j in range (len(data_set_category)):
    if data_set_category[j] not in list_of_categorie:
        list_of_categorie.append(data_set_category[j])

len(list_of_categorie)

158

In [57]:
data_set_main_category = data_set[:,3]
data_set_main_category

array(['Publishing', 'Film & Video', 'Music', ..., 'Film & Video',
       'Technology', 'Art'], dtype='|S96')

In [58]:
list_of_main_categorie =[]
for j in range (len(data_set_category)):
    if data_set_main_category[j] not in list_of_main_categorie:
        list_of_main_categorie.append(data_set_main_category[j])

len(list_of_main_categorie)

15

In [59]:
data_set_currency = data_set[:,4]
data_set_currency

array(['GBP', 'USD', 'USD', ..., 'USD', 'USD', 'USD'], dtype='|S96')

In [60]:
list_of_currency =[]
for j in range (len(data_set_currency)):
    if data_set_currency[j] not in list_of_currency:
        list_of_currency.append(data_set_currency[j])

len(list_of_currency)

13

In [61]:
data_set_country = data_set[:,11]
data_set_country

array(['GB', 'US', 'US', ..., 'US', 'US', 'US'], dtype='|S96')

In [62]:
list_of_country =[]
for j in range (len(data_set_country)):
    if data_set_country[j] not in list_of_country:
        list_of_country.append(data_set_country[j])

len(list_of_country)

22

In [63]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d %H:%M:%S")
    d2 = datetime.strptime(d2, "%Y-%m-%d %H:%M:%S")
    return abs((d2 - d1).days)

In [64]:
header

array(['ID ', 'name ', 'category ', 'main_category ', 'currency ',
       'deadline ', 'goal ', 'launched ', 'pledged ', 'state ',
       'backers ', 'country ', 'usd pledged ', '', '', '', ''],
      dtype='|S96')

In [65]:
list_of_main_categorie.index(data_set[0][3])

0

In [66]:
import time
def build_input_layer(data_set):
    ti = time.time()
    input_data_set = np.zeros((len(data_set),6))
    for i in range (len(data_set)):
        if isfloat(data_set[i,6]):
            input_data_set[i,0] = days_between(data_set[i][7],data_set[i][5]) #time allowed to get the money
            input_data_set[i,1] = float(data_set[i][6]) #the goal
            input_data_set[i,2] = list_of_main_categorie.index(data_set[i][3]) #the main categorie is now encoding with a number beetween 0 and 120
            input_data_set[i,3] = list_of_categorie.index(data_set[i][2]) #the categorie is now encoding with a number
            input_data_set[i,4] = list_of_country.index(data_set[i][11]) # the country encoding with a number
            input_data_set[i,5] = list_of_currency.index(data_set[i][4]) # the currency encoding with a number
    tf = time.time()
    print("temps : "tf-ti)
    return input_data_set

In [67]:
input_layer = build_input_layer(data_set)

14.0236771107

In [21]:
print(data_set[0])
input_layer[0]

['1000002330' 'The Songs of Adelaide & Abullah' 'Poetry' 'Publishing'
 'GBP' '2015-10-09 11:36:00' '1000' '2015-08-11 12:12:28' '0' 'failed' '0'
 'GB' '0' '' '' '' '']

array([  58., 1000.,    0.,    0.,    0.,    0.])

In [74]:
def build_target_layer(data_set):
    target_data = np.zeros(len(data_set))
    for i in range (len(data_set)):
        if data_set[i,9]=='failed':
            target_data[i] = 0
        else :
            target_data[i]= 1
    return target_data
target_data = build_target_layer(data_set)

In [75]:
target_data

array([0., 0., 0., ..., 0., 0., 0.])

In [78]:
target_data[123213]

1.0